# ignore IDE/hidden/OS cache files
.*
*~
nbproject
nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini

# ignore Composer downloads
/vendor/*
/extensions/

# keep some hiddens
!.htaccess
!/.gitignore
!/.travis.yml

php_error_log

./views/img/productos
./views/img/usuarios
./views/bower_components