/*Modal styles*/

.modal-header {
  background: #3c8dbc;
  color: white;
}

#first-column-th {
  width: 10px;
}

#btn-login {
  background: #502954;
  color: #fff;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.title-login{
  color: #502954;
}