/*Modal styles*/

.modal-header {
  background: #3c8dbc;
  color: white;
}

#first-column-th {
  width: 10px;
}

#productos-color {
  color: #3c8dbc;
  font-weight: bold;
}

#btn-login {
  background: #502954;
  color: #fff;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.title-login {
  color: #502954;
}
/* Header */
.header-logo {
  padding: 10px 0px;
}

#header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 400px) and (max-width: 767px) {
  /* .header-logo {
    max-width: 46% !important;
    margin: auto;
    padding: 6px 0px;
  } */
  .header-logo {
    text-align: center;
    max-width: 46% !important;
  }
}

@media (max-width: 399px) {
  .header-logo {
    max-width: 80% !important;
    margin: auto;
  }
}

@media (max-width: 425px) {
  .small-box h3 {
    font-size: 20px !important;
  }
}
